<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find jimmy_description)/urdf/jimmy.xacro'"/>

  <!-- commented out joint state publisher, and the robot state publisher as 
       Gazebo node already launches it's own items with the same purpose-->
  <!-- send fake joint values -->
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node-->

  <!-- Combine joint values -->
  <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/-->

  <!-- Show in Rviz   -->
  <!--node name="rviz" pkg="rviz" type="rviz"/-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jimmy_description)/rviz/virtual_jimmy_navigation_map_building.rviz"/>

</launch>
